.super-mario {
    width: 200px;
    
    top: 200px;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 340px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    width: 270px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 215px;
    top: 110px;
    z-index: 1;
  }
  
  .bowser {
    position: absolute;
    top: 200px;
    left: 450px;
    width: 200px;
    
  }